li {
    list-style: circle inside;
}

body, h1, h2, h3, h4, h5, h6, li, ul, textarea, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    width: 100%;
}

.p-icon {
    margin-right: 10px;
}

.p-datatable-table {
    * {
        color: black !important;
        background: #BAE3FF !important;
        font: var(--font-m);
    }
}

.p-column-title {
    font-weight: bold;
}

.p-datatable-tbody {
    tr {
        td {
            text-align: center;

            &:nth-child(2) {
                font-weight: bold;
            }
        }
    }

    .p-inputtext.p-component.p-filled.p-inputnumber-input,
    .p-inputtext.p-component.p-filled.p-inputnumber-input {
        max-width: 80px;
    }

    .p-inputtext.p-component {
        max-width: 120px;
    }
}

.p-column-title {
    text-align: center;
}

.p-datatable.p-component.p-datatable-selectable.p-datatable-scrollable.p-datatable-responsive-scroll.p-datatable-striped.p-datatable-gridlines.p-datatable-sm {
    width: 100%;
}

.p-menuitem.p-menuitem-active {
    list-style: none;
}

.p-datatable.p-datatable-lg .p-datatable-thead > tr > th,
.p-editable-column {
    text-align: center !important;
    padding: 5px !important;
}

.p-column-header-content {
    justify-content: center;
}

.p-datatable-tbody {
    td {
        padding: 2px;
    }
}
